<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Token" value="Gi7WylHd10hmzhI2NLnKQZRR50U47WM2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UoloadUrl" value="http://10.101.1.10/FileTransPoint/CloudMove/v1/UoloadSecurityFile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DownloadUrl" value="http://10.101.1.10/FileTransPoint/CloudMove/v1/DownloadSecurityFile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FileCloudUrl" value="http://10.101.1.10/FileTransPoint/CloudMove/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Account" value="ZEROCARD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Passwprd" value="095a73b0-c445-4eba-9dbd-505bf73e9575" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="API_URL" value="http://cfcmiduat01/EZFUND_EZPAY_API_DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="APIDown_URL" value="http://10.101.1.10/FileTransPoint/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="API_file" value="/onepage/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Web_Replace_URL" value="http://52.187.188.157/EC0CardDev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Web_Url" value="http://52.187.188.157/EC0CardDev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="APIOnePage_URL" value="http://10.101.1.10/OnePageApi/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ZerocardKey" value="ABCD9876543210123456789012345678" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ZerocardIV" value="DCBA987654321012" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ZerocardWebUrl" value="https://uatapi.chaileaseholding.com/ZeroCardDEV/Ecommerce/Redirect" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Allow_Char" value="0123456789" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <!--
    在以下範例中， "SetAttributes" 轉換會變更 "connectionString"
    的值，以在 "Match" 定位器
    找到具有 "MyDB" 值的屬性時僅使用 "ReleaseSQLServer"。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下列範例中，"Replace" 轉換會取代
      Web.config 檔案的全部 <customErrors> 區段。
      注意，由於
      <system.web> 節點下只有一個 customErrors 區段，則無需使用 "xdt:Locator" 屬性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
-->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://cfcmiduat01/APPCFCMO_WS/APP_WS.asmx" name="APP_WSSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>
