@import "../setting/_variables.scss";
@import "../setting/_mixins.scss";

/* Component: modal =============*/
.modal-custome {
    max-width: 600px;
    .modal-content {
        border-radius: 20px;
        box-shadow: 0 4px 12px 0 #00000019;
    }
    .modal-header {
        font-weight: 600;
        padding: 28px 5% 20px;
        border-bottom: none;
        >h5 {
            line-height: 28px;
            padding-left: 40px;
            background-image: url(images/icon-alert-info.svg);
            background-repeat: no-repeat;
            background-position: 0% 50%;
        }
    }
    .modal-body {
        padding: 0 5% 26px;
        &--content {
            padding-bottom: 40px;
        }
    }
}
@include rwd($ipad) {
    .modal-custome {
        .modal-body {
            padding-bottom: 30px;
            &--content {
                padding-bottom: 10px;
            }
        }
    }
}

.modal-custome--footer {
    display: flex;
    justify-content: flex-end;
    .modal-custome-btn {
        width: 150px;
        height: 40px;
        border-radius: 23px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        cursor: pointer;
    }
    .btn--cancel {
        background-color: #ececec;
        color: $colorText2;
    }
    .btn--ok {
        color: #fff;
        background-color: $colorPrimary;
    }
    .btn--cancel-pink {
        border: 1px solid $colorPrimary;
        color: $colorPrimary;
    }
}
@include rwd($ipad) {
    .modal-custome--footer {
        flex-direction: column-reverse;
        .modal-custome-btn {
            width: 100%;
            margin: 7.5px 0;
        }
    }
}

/*status: error ---*/
.modal-custome {
    &--common {

    }
    &--success {
        .modal-header {
            >h5 {
                background-image: url(images/icon-alert-success.svg);
            }
        }
        .modal-custome--footer  {
            .btn--ok {
                background-color: $colorSecondary5;
            }
        }
    }
    &--warring {
        .modal-header {
            >h5 {
                background-image: url(images/icon-alert-warning.svg);
            }
        }
        .modal-custome--footer  {
            .btn--cancel {
                border: 1px solid $colorError;
                color: $colorError;
                background-color: #fff;
            }
            .btn--ok {
                background-color: $colorError;
            }
        }
    }
    &--error {
        .modal-header {
            >h5 {
                background-image: url(images/icon-alert-error.svg);
            }
        }
        .modal-custome--footer  {
            .btn--cancel {
                border: 1px solid $colorError;
                color: $colorError;
                background-color: #fff;
            }
            .btn--ok {
                background-color: $colorError;
            }
        }
    }
}

.fillin-fixed {
    &.desktop {
        width: calc(100% - 260px);
        height: 66px;
        background-color: rgba(#f5f5f5, .9);
        padding: 0 40px;
        position: fixed;
        top: 70px;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fillin-fixed--title {
            font-size: 14px;
            color: $colorText;
        }
    }
    &.mobile {
        width: 100%;
        height: 66px;
        padding: 0 5% 20px;
        position: fixed;
        right: 0;
        bottom: 0;
        .fillin-fixed--title {
            display: none;
        }
    }
}